.vehicle-type-container {
  width: 500px;
}
.vehicle-type-container .vehicle-type-area {
  margin-bottom: 10px;
}
.vehicle-type-container .vehicle-type-area .vehicle-type {
  width: 30%;
}
.vehicle-type-container .vehicle-type-area .vehicle-type-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 5px 0px;
}
.vehicle-area-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-modal-root .ant-modal-content .ant-modal-body .MuiInputBase-root {
  width: 202px;
  margin-top: 26px;
  color: rgba(0, 0, 0, 0.54);
}
