.vehicle-type-container {
  width: 500px;
}
.vehicle-type-container .vehicle-type-area {
  margin-bottom: 10px;
}
.vehicle-type-container .vehicle-type-area .vehicle-type {
  width: 30%;
}

.vehicle-enable-checkbox .del-icon {
  margin-left: 40px;
  cursor: pointer;
}
.vehicle-type-container .vehicle-type-area .vehicle-type-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 5px 0px;
}
.vehicle-area-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-modal-root .ant-modal-content .ant-modal-body .MuiInputBase-root {
  width: 202px;
  margin-top: 26px;
  color: rgba(0, 0, 0, 0.54);
}
.ant-table
  .ant-table-content
  .ant-table-tbody
  .expanded-row-container
  .expanded-col-content {
  display: flex;
}
.ant-table
  .ant-table-content
  .ant-table-tbody
  .expanded-row-container
  .expanded-col-content
  .expanded-col
  .col {
  display: flex;
  width: 200px;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 20px;
}
.ant-table
  .ant-table-content
  .ant-table-tbody
  .expanded-row-container
  .expanded-col-content
  .expanded-col {
  border-right: 1px solid #f0f0f0;
  padding-right: 40px;
  padding-left: 40px;
}
.ant-table
  .ant-table-content
  .ant-table-tbody
  .expanded-row-container
  .expanded-col-content
  .expanded-col
  .col
  label {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
